:root {
  --main-color: rgba(255, 255, 255, 80%)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #333;
}

p {
  color: white;
  width: 439px;
  margin: 30px auto;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--main-color);
  animation: control-width 3s steps(27) 2s both, blink 0.8s infinite alternate;
  -webkit-animation: control-width 3s steps(27) 2s both, blink 0.8s infinite alternate;
}

@keyframes control-width {
  from {
    width: 0;
  }
  to {
    width: 439px;
  }
}

@keyframes blink {
  from {
    border-right-color: var(--main-color);
  }
  to {
    border-right-color: transparent;
  }
}
